*{
    margin:4px;
    padding: 0px;
}

a{
    text-decoration: none;
    /*color: red;*/ 
}

a:link{
    color: rgb(254, 254, 255);
    background-color: rgb(247, 108, 84);
    align-self: center;
    padding: 7px 10px;
    text-align: center;
    margin: 4px;
    border: black;
    border-radius: 3px;
}
a:visited{
    color: rgb(248, 250, 248);
}
a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    background-color: rgb(255, 38, 38);
}
a:active{
    color: red;
}