*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: inline-block;
}
#textcss{
    text-align: left;
    color: blueviolet;
    font-family: 'Spicy Rice', cursive;
    letter-spacing: 2px;
    word-spacing: 10px;
    direction: ltr;
    text-indent: 10px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px pink;
}

.printtext{
    position: absolute;
    right: 4px;
    bottom: 3px;

}

@media only print {
    .printtext{
        display:block;
    }
}